.page {
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
}

.searchArea{
    width: 100%;
}

.yetAnotherLogo{
    height: 40px;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top: 14px;
}
.logoImage{
    height: 100%;
    width: auto;
    border-radius: 10px;
    position: relative;
}

.yetAnotherSearchBox{
    display: inline-block;
    width: 30%;
}

.resultArea {
    padding-left: 165px;
}

.reminder {
    position: relative;
    color: darkgray;
}

.textLogoFront{
    color: rgb(255,153,0);
    font-weight: bold;
}
.textLogoBack{
    color:#000000;
    font-weight: bold;
}

.result {
    margin-top: 30px;
}

.card {
    width: 50%;
    margin: 10px 0;
    padding:5px 5px;
}

.cardDescription{
    padding-top: 5px;
    color: darkgray;
    font-size: 14px;
}

.cardTail{
    color: lightsteelblue;
}

.tagGroup{
    display: inline-block;
    padding-left: 50%;
}

.tag {
    display: inline-block;
    margin-left: 10px;
}